In [1]:
# loading required libraries. 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pwd

'/home/satadru/EDA_PersonalMail'

In [3]:
import mailbox
mboxFile = "/home/satadru/EDA_PersonalMail/All mail Including Spam and Trash.mbox"
mBox = mailbox.mbox(mboxFile)
print(type(mBox)) # the output denotes that the mailbox has been succesfully created

<class 'mailbox.mbox'>

In [4]:
for key in mBox[0].keys():   # Getting the list of Keys in the DataSet
    print(key)

X-GM-THRID
X-Gmail-Labels
Delivered-To
Received
X-Received
ARC-Seal
ARC-Message-Signature
ARC-Authentication-Results
Return-Path
Received
Received-SPF
Authentication-Results
DKIM-Signature
X-Google-DKIM-Signature
X-Gm-Message-State
X-Google-Smtp-Source
MIME-Version
X-Received
Date
Reply-To
X-Notifications
X-Notifications-Bounce-Info
Message-ID
Subject
From
To
Content-Type

In [5]:
# # Now to check the content dataset, we can do some experiment, 
# for i in mBox:
#     print(i['From'])  # in this way we will get the names who sent me mails.

In [6]:
# Instead of working with the whole DataSet we are creating a CSV file with the required field.
import csv


with open('MyMails.csv', 'w') as output:
    writer = csv.writer(output)
    writer.writerow(["Subject", "From", "Date", "To", "Label", "Thread"])
    for i in mBox:
        writer.writerow([
            i['Subject'],
            i['From'],
            i['Date'],
            i['To'],
            i['X-Gmail-Labels'],
            i['X-GM-THRID']
        ])
    # A csv file named MyMails.csv has been saved to your working directory

In [7]:
# # loading the dataset 
df = pd.read_csv("./MyMails.csv")
# df.head() # In the Date column the time and date is not in synced according to my local timeZone

In [8]:
# Dealing with the dates
# df.dtypes 
# checking that the date field is still of objectType, to work with the dates we have to convert the object 
# types into dateTime

In [9]:
# checking the datatypes and null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6669 entries, 0 to 6668
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  6032 non-null   object
 1   From     6669 non-null   object
 2   Date     6069 non-null   object
 3   To       6056 non-null   object
 4   Label    6669 non-null   object
 5   Thread   6669 non-null   int64
dtypes: int64(1), object(5)
memory usage: 312.7+ KB

In [10]:
df.shape

(6669, 6)

In [11]:
# I have converted the the values of column named "Date" into DateTime type and mathced the time and date with 
# my local time zone
df['Date'] = df['Date'].apply(lambda x: pd.to_datetime(x, errors = 'coerce', utc = True).tz_convert('Asia/Calcutta'))

In [12]:
# again checking the type of the date column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6669 entries, 0 to 6668
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  6032 non-null   object
 1   From     6669 non-null   object
 2   Date     6069 non-null   datetime64[ns, Asia/Calcutta]
 3   To       6056 non-null   object
 4   Label    6669 non-null   object
 5   Thread   6669 non-null   int64
dtypes: datetime64[ns, Asia/Calcutta](1), int64(1), object(4)
memory usage: 312.7+ KB

In [13]:
#df.head(5)

In [14]:
# Storing only those rows in the dataset where DateTime is mentioned.
df = df[df['Date'].notna()]
print(df.info())
print(df.shape) # previously I have 6669 data points now I am dealing with 6069 data points

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6069 entries, 0 to 6668
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  6032 non-null   object
 1   From     6069 non-null   object
 2   Date     6069 non-null   datetime64[ns, Asia/Calcutta]
 3   To       6056 non-null   object
 4   Label    6069 non-null   object
 5   Thread   6069 non-null   int64
dtypes: datetime64[ns, Asia/Calcutta](1), int64(1), object(4)
memory usage: 331.9+ KB
None
(6069, 6)

In [16]:
# storing the cleaned data into the local machine
#df.to_csv("MyMails_Cleaned.csv")
df.head(5)

,Subject,From,Date,To,Label,Thread
0,[Class starts at 11 AM] Learn all about innova...,Google for Startups <no-reply-eventsatgoogle@g...,2022-08-25 08:03:07+05:30,satadru042@gmail.com,"Inbox,Category Updates,Unread",1742098701965204158
1,Natural Language Processing - Assignment-4 Sol...,onlinecourses@nptel.iitm.ac.in,2022-08-28 00:17:50+05:30,noc22-cs98-announce@nptel.iitm.ac.in,"Inbox,Category Updates,Unread",1742341225109793673
2,Mastermind starts in 30 mins,"""Sakshi Chandraakar"" <sakshi@sakshichandraakar...",2022-08-27 17:31:30+05:30,"""Satadru Bhattacharya"" <satadru042@gmail.com>","Inbox,Category Promotions,Unread",1742315705971863532
3,=?UTF-8?Q?How_to_get_the_recruiter=E2=80=99s_a...,Coding Ninjas <contact@emailer.codingninjas.in>,2022-08-21 13:52:51+05:30,satadru042@gmail.com,"Inbox,Category Updates,Unread",1741758316325345002
4,Congratulations on completing Natural Language...,"""Coursera"" <no-reply@m.mail.coursera.org>",2022-08-21 19:34:46+05:30,satadru042@gmail.com,"Inbox,Category Updates,Unread",1741779827829414193